* {
    background-color: silver;   
}
.header {
    display: flex;
}

.highScores {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;    
}

.highScoresBtn {
    background-color: darkslategray;
    color: silver;
}

.timer {
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    visibility: visible; 
     
}

.QuestionBox {
    margin: auto;
    height: auto;
    width: 500px;   
}

.start {
    background-color: darkslategray;
    color: silver;
}

.QuestionBox h1 {
    text-align: center;
}

.AnswersBox {
    margin: auto;
    height: auto;
    width: 100px;
}

.Answer {
    text-align: left;
    visibility: hidden;
    background-color: darkslategray;
    color: silver;
    margin-top: 5px;
}

.submitDiv {
    visibility: hidden;
    margin: auto;
    height: auto;
    width: 500px;  
}

.reset {
    background-color: darkslategray;
    color: silver;
}

.submit {
    background-color: darkslategray;
    color: silver;
}

.viewHighScores {
    visibility: hidden;
    margin: auto;
    height: auto;
    width: 500px; 
    position: absolute;
    top: 60px;
    left: 5%;
    height: 500px;
    width: 500px;
    z-index: 99;
}

.takeQuiz {
    background-color: darkslategray;
    color: silver;
}

.clear {
    background-color: darkslategray;
    color: silver;
}
