.header {
    display: flex;
}

.highScores {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;    
}

.timer {
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;    
}

.QuestionBox {
    margin: auto;
    height: auto;
    width: 500px;
}

.QuestionBox h1 {
    text-align: center;
}

.AnswersBox {
    margin: auto;
    height: auto;
    width: 100px;
}

.Answer {
    text-align: left;
    visibility: hidden;
}

.reset {
    visibility: hidden;
}


